html, body, header, section, nav, h1, h2, ul, li, img figcaption, footer {
    margin: 0;
    padding: 0;
    border: 0;

    font: inherit;
    font-size: 100%;
    text-align: inherit;
    color: inherit;

    vertical-align: baseline;
}

li {
    list-style: unset;
}

body {
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: 100%;
}