<%# 
# Table name: cats

#  id          :bigint           not null, primary key
#  birth_date  :date             not null
#  color       :string           not null
#  name        :string           not null
#  sex         :string(1)        not null
#  description :text
#  created_at  :datetime         not null
#  updated_at  :datetime         not null
%>

<ul>
    <% @cats.each do |cat| %>
        <li>
            <%= cat.name %>
        </li>
    <% end %>
</ul>
        <%#= render 'cat', cat: cat, action: :index %>